@model DataChart
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div style="height:300px">
    <rystem-chart rystem-data="Model"></rystem-chart>
</div>
