@model List<Alo>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<rystem-autocomplete rystem-retrieve-context='new RequestContext() { Action="Could", Controller="Home" }' rystem-request-context='new RequestContext() { Action="Could2", Controller="Home", OnRedirect = true }'></rystem-autocomplete>
<rystem-ajax-modal rystem-size="Large" rystem-request-context='new RequestContext() {Action = "Rexo", Controller="Home" }' rystem-update-context='new RequestContext() { Action="Rexo", Controller="Home", Selector="#flirt" }' class="don-rodrigo">
    <div>Show my Rexo</div>
    <div id="flirt"></div>
</rystem-ajax-modal>
<rystem-dropdown name="Alo" rystem-data-multiple="true" rystem-data="Model.Select(x => new DropdownItem() { Group = x.Group.ToString(), Label = x.A, Selected = false, Value = x.Val.ToString()})" rystem-data-disabled='new List<string>() { "1", "2" }' rystem-request-context='new RequestContext() { Action = "Cold", Controller = "Home" }' rystem-update-context='new RequestContext() { Action = "More", Controller = "Home", Selector="#ciccia"}'>
</rystem-dropdown>
<rystem-dropdown name="Alo2" rystem-data-multiple="false" rystem-data="Model.Select(x => new DropdownItem() { Group = x.Group.ToString(), Label = x.A, Selected = false, Value = x.Val.ToString()})" rystem-data-disabled='new List<string>() { "1", "2" }' rystem-request-context='new RequestContext() { Action = "Cold", Controller = "Home" }' rystem-update-context='new RequestContext() { Action = "More", Controller = "Home", Selector="#ciccia"}'>
</rystem-dropdown>
<div id="ciccia">
    <partial name="_Ciccia" model="Model" />
</div>
<rystem-ajax-form rystem-toast='Toast.Default'>
    A: <input name="A" />
    Val: <input name="Val" />
    Group: <input name="Group" />
    <input type="submit" value="go" />

</rystem-ajax-form>
<rystem-ajax-button rystem-request-context='new RequestContext() { Action = "RedirectButton", Controller = "Home", RequestType = RequestType.Post }'>
    Go to charts
</rystem-ajax-button>
<rystem-ajax-file rystem-request-context='new RoutingContext() { Action = "Upload" }' rystem-options='new DropZone() { OnSuccess = "fileuploaded"}'>

</rystem-ajax-file>
<script>
    function fileuploaded(a, b, c) {
        console.log(a);
        console.log(b);
        console.log(c);
    }
</script>