@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<rystem-ajax-modal rystem-request-context='new RequestContext() {Action = "Rexo", Controller="Home"}' rystem-update-context='new RequestContext() { Action="Privacy", Controller="Home", Selector="#newId" }' class="don-rodrigo">
    <div>Show my Rexo</div>
</rystem-ajax-modal>
