@using Rystem.Web.Models
@using Microsoft.Extensions.Localization 
@using Rystem.Web 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model (IEnumerable<FileModel> Files, IStringLocalizer StringLocalizer, RequestContext RequestContext, RequestContext DeleteRequestContext, int Skip)
@{
    var root = DirectoryModel.FromFiles(Model.Files, Model.StringLocalizer, Model.Skip);
}

<div class="file-explorer">
    <div class="file-explorer-distance">
        <div class="folder-file-name">@(Model.StringLocalizer != null ? Model.StringLocalizer["Name"] : "Name")</div>
        <div class="folder-file-type">@(Model.StringLocalizer != null ? Model.StringLocalizer["Type"] : "Type")</div>
        <div class="folder-file-datetime">@(Model.StringLocalizer != null ? Model.StringLocalizer["Date modified"] : "Date modified")</div>
    </div>
    <partial name="_FileFileManager" model="(root, Model.RequestContext, Model.DeleteRequestContext, Model.StringLocalizer)" />
</div>