@using Rystem.Web.Models
@using Microsoft.Extensions.Localization 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model (IEnumerable<FileModel> Files, IStringLocalizer StringLocalizer)
@{
    var root = DirectoryModel.FromFiles(Model.Files, Model.StringLocalizer);
}

<div class="file-explorer">
    <div class="file-explorer-distance">
        <div class="name">@(Model.StringLocalizer != null ? Model.StringLocalizer["Name"] : "Name")</div>
        <div class="datetime">@(Model.StringLocalizer != null ? Model.StringLocalizer["Date modified"] : "Date modified")</div>
        <div class="type">@(Model.StringLocalizer != null ? Model.StringLocalizer["Type"] : "Type")</div>
    </div>
    <partial name="_FileFileManager" model="root" />
</div>